
@mixin border-radiusPick($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin linkStyle {
	padding-left: 20px;
	position: relative;
	border-top: 0px solid transparent;
	display: inline-block;
	text-decoration: none;
	color: $textNavHeader;
	padding-left: 5px;
}

@mixin linkNav {
	padding-left: 20px;
	position: relative;
	display: inline-block;
	height: 24px;
	text-decoration: none!important;
	color: $textNavHeader;
	padding-left: 5px;
	&:active {
		color: yellow!important;
	}
}

@mixin outsideLinks() {
	border-top: 2px solid $linkBarColorOut;
	position: absolute;
	content: '';
	top: 0px;
	left: 0px;
	width: 0;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	transition: 0.5s ease;
}

@mixin outsideHover() {
	width: 100%;
	//background: blue;
	/*box-shadow: -5px -5px 0 grey;
	transform: translate(5px, 5px);*/
}




