//VARIABLES GO HERE
// $bgColor: grey;

$bgColor: grey;
$divColor: #fff;
$sectionColor: #fff;
$defaultText: black;
$innerTextColor: $defaultText;
$outerTextColor: white;
$titleTextColor: grey;
$sTextColor: yellow;
$linkColor: $innerTextColor;
$sectionSpace: 0;
$fontFamily: helvetica, ariel sans-serif;
$perspectiveFlip: 600px;
$inForm: white;
$linkBarColorOut: grey;
$linkBarColorIn: white;
$listColor: white;
$tableTextColor: black;
$spanColor: white;
$textNavHeader: black;

